@media screen and (min-width: 576px){
    body{
        background-color: #364451;
        color: white;
        font-family: sans-serif;
    }
    header{
        background-color: #011627;
        padding: 30px;
        text-align: center;
        margin: -8px;
    }
    nav{
        width: 200px;
        padding: 10px;
        position: fixed;
        height: 100%;
        overflow: auto;
        background-color: #011627;
        margin-left: -10px;
        float: left;
    }
    nav a{
        display: block;
        text-align: center;
        padding: 20px;
        color: white;
        text-decoration: none;
    }
    nav a:hover{
        background-color: #364451;
        cursor: pointer;
    }
    section{
        float: right;
        margin-left: 220px;
        padding: 20px;
        width: calc(100% - 260px);
        scroll-margin-top: 10px; 
        display: none;
    }
}
@media print {
    body{
        background-color: white;
        color: black;
    }
    nav{
        display: none;
    }
    section{
        float: none;
        width: 100%;
        margin: 0;
        padding: 10px;
        display: block !important;
    }
}

